<div class="wpm-categories-header">
  <div>
    <h3>Categories</h3>
  </div>

  <div class="wpm-categories-header-section container-fluid">
    <div class="wpm-categories-header-searchbar-container" style="max-height: 34px; height:34px;">
      <svg style="margin-right: 5px; color: #757575" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search"
        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
        <path fill-rule="evenodd"
          d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
      </svg>
      <input id="searchs" spellcheck="false" class="wpm-categories-header-searchbar" placeholder="Search">
    </div>
    <div class="wpm-categories-header-create">
      <button onclick="createCategory()" class="wpm-create-button wpm-categories-desktop-button">Add New Category</button>
      <button onclick="createCategory()" class="wpm-create-button wpm-categories-mobile-button" style="max-height: 34px; height:34px; width: 34px;">&#43;</button>
    </div>
  </div>
</div>

<div class="wp-categories container-fluid" style="position: relative; ">
  
  <div class="masonry" id="wp-categories-row">

    
    
    <% results.forEach(function(result) { %>

    <div class="itemm collapse show" data-id="<%= result._id %>">
      <div class="wp-categories-category" >
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <text style="color: #eeeded">Category</text>
          </div>
          <div>
            <svg onclick='modifyCategory($(this).closest(".wp-categories-category").parent())' class="enable-editing text-white" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
            <svg onclick='closeCategory($(this).closest(".wp-categories-category").parent())' class="cancel-editing" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>

          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <img class="wp-categories-category-image mr-1" src="<%= result.Image %>"><text
            style="font-size: 1.5rem" class="wp-categories-category-title"><%= result.Title %></text><input class="wp-categories-category-modify-title" placeholder="<%= result.Title %>">
        </div>
        <div class="d-flex justify-content-between mb-2">
          <div>
            Products | <a class="text-info" href="/categories/<%= result.CategoryKey %>">Manage Products</a>
          </div>
          <div>
            Total: <%= result.products.length %>
          </div>
        </div>
        <div style="margin: 0.85rem auto">
          <ul class="tags">
            <% result.products.forEach(function(product) { %>
            <a href="/categories/<%= result.CategoryKey %>/<%= product.ProductKey %>">
              <li class="pill"><%= product.Title %></li>
            </a>
            <% }) %>
          </ul>
        </div>
        <div class="collapse wp-modify-extras">
          <div class="d-flex flex-column">
            <label style="color: #bfbebe;" for="imageurl">Image URL</label>
            <input class="wp-categories-category-modify-url" onkeyup="modifyImage($(this))"  type="text" name="imageurl" placeholder="<%= result.Image%>">
            <label style="color: #bfbebe;" for="categorykey">Category Key</label>
            <input class="wp-categories-category-modify-categorykey" type="text" name="categorykey" placeholder="<%= result.CategoryKey%>">
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <svg onclick='deleteCategoryPopup(this)' data-id="<%= result._id %>" data-title="<%= result.Title %>" style="color: #ff4b4b; cursor: pointer" width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
            <text onclick='saveCategory($(this).closest(".wp-categories-category").parent())' style="color: #56bb56; cursor: pointer;">Save</text>
          </div>
        </div>
        
        
      </div>
   </div>
    <% }) %>
    <div class="itemm collapse" id="wpm-categories-create">
      <div class="wp-categories-category">
        <form id="wp-categories-create-form">
          <div class="d-flex justify-content-between">
            <text class="d-inline-block mb-2">Create New Category</text>
            <svg onclick="closeCreateCategory()" class="cancel-editing" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="display: inline-block;">
              <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
              <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
            </svg>
          </div>
          <div class="d-flex mb-3">
            <img id="wpm-category-create-image" class="mr-1" src="https://via.placeholder.com/250"><input style="font-size: 1.5rem; width: 80%" id="wp-categories-category-create-title" class="wp-categories-category-create" placeholder="New Category Title" required>
          </div>
  
          <div class="d-flex flex-column">
            <label style="color: #bfbebe; margin-bottom: 0" for="imageurl">Image URL</label>
            <input id="wp-categories-category-create-url" class="wp-categories-category-modify-url mb-1 d-inline-block" onkeyup="updateImage($(this).val())"  placeholder="Enter Image URL" required>
            <label style="color: #bfbebe; margin-bottom: 0" for="categorykey">Category Key</label>
            <input id="wp-categories-category-create-categorykey" class="wp-categories-category-modify-categorykey d-inline-block mb-4" type="text" name="categorykey" placeholder="Enter Category Key" required>
          </div>
  
          <button class="wpm-create-button ml-0">Create</button>
        </form>
        
        
        

      </div>
    </div>
</div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: #1f1f27;">
      <div class="modal-header" style="border: none">
        <h5 class="modal-title" id="delete-category-title">Permanently Delete Category?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer justify-content-center" style="border: none">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button onclick="deleteCategory($(this).data('id'))" type="button" id="delete-category-confirmation" data-id="" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<style>
  
  .masonry {
    column-count: 2;
    column-gap: 1em;
  }
  .itemm {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    position: relative;
  }
  @media (max-width: 576px) {
    .masonry {
      column-count: 1;
    }
  }
</style>

<script>
  $(window).resize(function() {
    breadCrumbsDisplay([{"href": "/dashboard", "title": "Dashboard"}, {"href": "/categories", "title": "Categories"}], {"href": "/dashboard", "title": "Dashboard"})
  })
  breadCrumbsDisplay([{"href": "/dashboard", "title": "Dashboard"}, {"href": "/categories", "title": "Categories"}], {"href": "/dashboard", "title": "Dashboard"})
  

$("#wp-categories-create-form").on( "submit", function( event ) {
  progressBarStart()
  event.preventDefault();
  $.ajax({
        type: "POST",
        url: "/createCategory",
        data: {
            Title: $("#wp-categories-category-create-title").val(),
            categoryKey: $("#wp-categories-category-create-categorykey").val(),
            Image: $("#wp-categories-category-create-url").val()
        }
      }).done(data => {
        progressBarComplete()
  });
});

function updateImage(url) {
    if (url != "") {
        $('#wpm-category-create-image').attr('src', url);
    } else {
      $('#wpm-category-create-image').attr('src', "https://via.placeholder.com/250")
    }
  }

  // Category Search Function
  jQuery.expr[':'].contains = function(a, i, m) {
  return jQuery(a).text().toUpperCase()
      .indexOf(m[3].toUpperCase()) >= 0;
};


  $("#searchs").keyup(function(){
    $(".wp-categories-category").parent().not('#wpm-categories-create').hide();
    var term = $(this).val()
    term = term.charAt(0).toUpperCase() + term.substr(1).toLowerCase()
    if (term == "") {
      $(".wp-categories-category").parent().not('#wpm-categories-create').show();
    } else {
      $(".wp-categories-category .wp-categories-category-title:contains('" + term + "')").closest(".wp-categories-category").parent().show()
      $(".wp-categories-category .tags:contains('" + term + "')").closest(".wp-categories-category").parent().show()
    }
});

$("#body-container").wrap('<div id="wp-categories-overlay-animation" style="position: relative;"></div>')
$('#wp-categories-overlay-animation').prepend('<div class="wp-categories-overlay"></div>')

function modifyCategory(category) {
  $(category).css('z-index', '3')
  $('.wp-categories-overlay').css('background-color', '#8c8c8c66')
  $('.wp-categories-overlay').css('z-index', '2')
  $(category).find('.cancel-editing, .wp-categories-category-modify-title').css('display', 'inline-block')
  $(category).find('.enable-editing, .wp-categories-category-title').css('display', 'none')
  $(category).find('.wp-modify-extras').collapse('show').on('shown.bs.collapse', function () {
    $('html, body').animate({
                scrollTop: $(category).offset().top - ($('#page-content-wrapper > div.sticky-top').height() + 20)
            }, 500); 
  })
  
}

$('#page-content-wrapper').click(function (e) {
    if ($(e.target).closest(".wp-categories-category, #exampleModalCenter").length) {

    } else {
      category = $(".wp-categories").find(".wp-categories-category").parent().filter(function() {
        return $(this).css("z-index") === "3";
      });
      closeCategory(category)
    }
  })

function closeCategory(category) {
  $(category).css('z-index', '0')
  $('.wp-categories-overlay').css('background-color', '#8c8c8c00')
  $('.wp-categories-overlay').css('z-index', '-2').delay(500)
  $(category).find('.cancel-editing, .wp-categories-category-modify-title').css('display', 'none')
  $(category).find('.enable-editing, .wp-categories-category-title').css('display', 'inline-block')
  $(category).find('.wp-modify-extras').collapse('hide')
}

function modifyImage(image) {
  category = image.closest(".wp-categories-category").parent()
  console.log()
  if (image.val() == "" || image.val() == " ") {
    $(category).find('.wp-categories-category-image').attr('src', image.attr('placeholder'))
  } else {
    $(category).find('.wp-categories-category-image').attr('src', image.val())
  }
}

function saveCategory(category) {
  progressBarStart()
  categoryId = $(category).data('id')
  categoryTitle = $(category).find('.wp-categories-category-modify-title').val() || $(category).find('.wp-categories-category-modify-title').attr('placeholder')
  categoryURL = $(category).find('.wp-categories-category-modify-url').val() || $(category).find('.wp-categories-category-modify-url').attr('placeholder')
  categoryKey = $(category).find('.wp-categories-category-modify-categorykey').val() || $(category).find('.wp-categories-category-modify-categorykey').attr('placeholder')
  $.ajax({
        type: "POST",
        url: "/updateCategory",
        data: {
            Title: categoryTitle,
            categoryKey: categoryKey,
            Image: categoryURL,
            id: categoryId
        }
      }).done(data => {
        progressBarComplete(true)
        $(category).find('.wp-categories-category-title').text(categoryTitle)
        $(category).find('.wp-categories-category-image').attr('src', categoryURL)
        $(category).find('.wp-categories-category-modify-url').attr('placeholder', categoryURL)
        $(category).find('.wp-categories-category-modify-categorykey').attr('placeholder', categoryKey)
        $(category).find('.wp-categories-category-modify-title').attr('placeholder', categoryTitle)
        $(category).find('.wp-categories-category-modify-url').val("")
        $(category).find('.wp-categories-category-modify-categorykey').val("")
        $(category).find('.wp-categories-category-modify-title').attr("")
      });
}

function deleteCategoryPopup(category) {
  $('#delete-category-confirmation').attr('data-id', $(category).data('id'))
  console.log($('#delete-category-confirmation').data('id'))
  $('#delete-category-title').text('Permanently Delete ' + $(category).data('title') + ' Category?')
  $('#exampleModalCenter').modal('show')
}

function createCategory() {
  
  $('#searchs').attr('disabled', 'true')
  $('#wp-categories-row').find('[data-id]').collapse('hide').on('hidden.bs.collapse', function () {
    
    $("#wpm-categories-create").collapse('show')
    $('#wp-categories-row').find('[data-id]').off('hidden.bs.collapse')
    
    
    
  })
}

function deleteCategory(id) {
      $.ajax({
        type: "POST",
        url: "/deleteCategory",
        data: {
          id: id
        }
      }).done(data => {
          window.location.href = data;
      });
    }

function closeCreateCategory() {
  $('#searchs').removeAttr('disabled')
  $("#wpm-categories-create").collapse('hide').on('hidden.bs.collapse', function () {
    $('#wp-categories-row').find('[data-id]').collapse('show')
    $("#wpm-categories-create").off('hidden.bs.collapse')
  })
}


</script>


<style>
  .wp-categories-category {
    background-color: #191a1c !important;
  }

  .pill {
    border: 2px solid #505059 !important;
  }

  .pill:hover {
    background-color: #505059 !important;
  }
</style>