




<div class="wpm-categories-header">
    <div>
      <h3>Products</h3>
    </div>
  
    <div class="d-flex justify-content-end">
      <div class="wpm-categories-header-create">
        <button onclick="createCategory()" class="ml-2 mr-2 wpm-create-button">View Products</button>
        <button onclick="createCategory()" class="ml-2 mr-2 wpm-create-button">Add New Product</button>
        <button onclick="createCategory()" class="ml-2 mr-2 wpm-create-button">View Unlisted</button>
      </div>
    </div>
  </div>


    <div class="wpm-products grid">

        <% for (var x = 0; x < 3; x++) { %>
        <% items.forEach(function(item) { %>
                <div class="grid-item">
                    <div class="grid-item-content">
                        <div class="wpm-products-product">
                        <div class="d-flex align-items-center">
                            <img src="<%= item.Image %>" class="mr-1" style="width: 1.725rem;">
                            <text><%= item.Title %></text>
                        </div>
                    </div>
                    </div>  
            </div>
                
            
            
            <% }) %> 
            <% } %>
      </div>
 





<ul class="nav nav-tabs" style="display: none">
    <li class="nav-item dropdown">
      <a class="nav-link active" onclick="test(this)" role="button" id="dropSelection" style="color: #2C3E50;">View</a>
    </li>
    <li>
        <a class="nav-link" onclick="test(this)" style="cursor: pointer" id="createSelection">Create new</a>
    </li>
    <li>
        <a class="nav-link" onclick="test(this)" style="cursor: pointer" id="unlistSelection">Unlisted</a>
    </li>
</ul>



<style>

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item.is-expanded {
  z-index: 2;
}

.grid-item-content {
    -webkit-transition: height 0.4s;
          transition: height 0.4s; 
}

.grid-item.is-expanded,  .grid-item.is-expanded .grid-item-content{
  height: 300px;
}

.grid-item.is-expanded {
  height: 300px;
  z-index: 2;
}

.grid-item { width: 33%; }

    .wpm-products-product {
        padding: 0.95rem;
        color: white;
        border-radius: 5px;
        background-color: #1f1f27;
        box-shadow: 9px 9px 9px -12px rgba(0, 0, 0, 0.35);
    }

    .editbutton {
        padding-right: 2px;
        padding-left: 2px;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 1px;
    }
</style>

<div id="create" style="display: none;">
    <div style="display: block;">
        <div class="form-group">
            <label for="formGroupExampleInput">Title</label>
            <input id="create-title" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <label for="formGroupExampleInput3">Price:</label>
            <input id="create-price" class="form-control" value="">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Image url</label>
            <input onkeyup="create_updateImage(this)" id="create-icon" type="text" class="form-control" placeholder="Another input">
        </div>
        <text >Image preview:</text><img  style="width: 50px" id="create-iconDisplay">
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <label for="formGroupExampleInput3">Description:</label>
            <input id="create-description" class="form-control" value="">
        </div>
        <div class="form-check" style="margin-bottom: 10px;">
            <input type="checkbox" class="form-check-input" id="discordAlert">
            <label class="form-check-label" for="exampleCheck1">Create discord alert on creation</label>
        </div>
    <button class="btn btn-dark" onclick="createItem()">Create</button>
</div>

<div id="unlisted" style="display: none;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Manage Item</th>
          </tr>
        </thead>
        <tbody>
            <% unlisted.forEach(function(item) { %>
                <tr>
                    <td><%= item.Title %></td>
                    <td>£<%= item.Price %></td>
                    <td><img src="<%= item.Image %>" src="img" style="width: 30px;"></td>
                    <td><button class="btn btn-dark editbutton" id="<%= item._id %>" type="button" onclick="reList(this)">Re list</button></td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</div>

<div id="dataTable" style="display: none;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Manage Item</th>
          </tr>
        </thead>
        <tbody>
            <% items.forEach(function(item) { %>
                <tr>
                    <td><%= item.Title %></td>
                    <td>£<%= item.Price %></td>
                    <td><img src="<%= item.Image %>" src="img" style="width: 30px;"></td>
                    <td><button class="btn btn-dark editbutton" id="<%= item._id %>" onclick="drawModal(this)" data-items="<%= item.Title %>|<%= item.Description %>|<%= item.Image %>|<%= item.Price %>|<%= item.ProductKey %>"  type="button" data-toggle="modal" data-target="#infoModal">Edit</button></td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</div>
      
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content" style="border-radius: 0; border: none;">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit <text id="modalTitle"></text>Item</h5>
    </div>
    <div class="modal-body" style="display: block;">
        <div style="display: block;">
        <div class="form-group">
            <label for="formGroupExampleInput">Title</label>
            <input id="title" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <label for="formGroupExampleInput3">Price:</label>
            <input id="price" class="form-control" value="">
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <label for="formGroupExampleInput3">Stock:</label>
            <text id="stock"></text>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Image url</label>
            <input onkeyup="updateImage(this)" id="icon" type="text" class="form-control" placeholder="Another input">
        </div>
        <text >Image preview:</text><img  style="width: 50px" id="iconDisplay">
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <label for="formGroupExampleInput3">Description:</label>
            <input id="description" class="form-control" value="">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteProduct" onclick="deleteItem(this)">Unlist</button>
            <a id="manageButton" href="" class="btn btn-secondary">Manage accounts</a>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="updateProduct(this)" id="updateProduct">Save changes</button>
    </div>
    </div>
</div>
</div>



<script>
var active = false;
$("#discordAlert").click(function(){
    var check = $(this).prop('checked');
    if(check == true) {
        active = true;
    } else {
        active = false;
    }
});

function create_updateImage(data) {
    document.getElementById("create-iconDisplay").src = data.value
}

function test(option) {
        var dropdown = document.getElementById("dropSelection")
        var other = document.getElementById("createSelection")
        var creationPage = document.getElementById('create')
        var table = document.getElementById('dataTable')
        var listTable = document.getElementById("unlistSelection")
        var listTableContent = document.getElementById("unlisted")
        if (option.id == "createSelection") {
            option.classList.add('active')
            option.disabled = false;
            dropdown.disabled = true;
            dropdown.classList.remove('active')
            creationPage.style.display = "block"
            table.style.display = "none"
            listTable.classList.remove('active')
            listTable.disabled = true
            listTableContent.style.display = "none"
        } else if (option.id == "dropSelection") {
            dropdown.disabled = false;
            other.classList.remove('active')
            other.disabled = true;
            dropdown.classList.add('active')
            table.style.display = "block"
            creationPage.style.display = "none"
            listTable.classList.remove('active')
            listTable.disabled = true
            listTableContent.style.display = "none"
        } else {
            dropdown.disabled = true;
            other.classList.remove('active')
            other.disabled = true;
            dropdown.classList.remove('active')
            table.style.display = "none"
            creationPage.style.display = "none"
            listTable.classList.add('active')
            listTableContent.style.display = "block"
        }
    }

function drawModal(item) {
      var data = $("#" + item.id).data('items')
      var dataArr = data.split("|")
      dataArray = data.split("|")
      var title = dataArray[0]
      var description = dataArray[1]
      var image = dataArray[2]
      var price = dataArray[3]
      var productkey = dataArray[4]



      document.getElementById("title").value = title
      document.getElementById("icon").value = image
      document.getElementById("iconDisplay").src = image
      document.getElementById("description").value = description
      document.getElementById("price").value = parseFloat(price).toFixed(2)
      document.getElementById("")
      document.getElementById("updateProduct").setAttribute("name", item.id)
      document.getElementById("deleteProduct").setAttribute("name", item.id)
      document.getElementById("manageButton").href = '/manageAccounts/' + item.id 
      

      $.ajax({
        type: "POST",
        url: "/getStock",
        data: {
            id: item.id
        } 
      }).done(data => {
        document.getElementById("stock").innerText = data
      });


    }

    function updateImage(data) {
        document.getElementById("iconDisplay").src = data.value
    }

    function updateProduct(data) {
      $.ajax({
        type: "POST",
        url: "/updateItem",
        data: {
            id: data.name,
            title: document.getElementById("title").value,
            image: document.getElementById("icon").value,
            price: document.getElementById("price").value,
            description: document.getElementById("description").value
        } 
      }).done(data => {
          if (data == "e") {
            window.location.reload();
          }
      });
      
    }


    function createItem(data) {
        $.ajax({
        type: "POST",
        url: "/createItem",
        data: {
            announce: active,
            title: document.getElementById("create-title").value,
            image: document.getElementById("create-icon").value,
            price: document.getElementById("create-price").value,
            description: document.getElementById("create-description").value,
            productkey: window.location.href.substring(window.location.href.lastIndexOf('/') + 1)
        } 
      }).done(data => {
          if (data == "s") {
              window.location.reload()
          }
        console.log(data)
      });
    }

    function deleteItem(data) {
        $.ajax({
        type: "POST",
        url: "/unlistItem",
        data: {
            id: data.name
        } 
      }).done(data => {
        console.log(data)
        if (data == "s") {
            window.location.reload()
        }
       });
    }


    function reList(data) {
        $.ajax({
        type: "POST",
        url: "/listItem",
        data: {
            id: data.id
        } 
      }).done(data => {
        if (data == "s") {
            window.location.reload()
        }
      });
    }

</script>