<h1>
    Manage TOS & Policies
</h1>

<% data.forEach(function(term) { %>
    <div class="form-group">
        <label>Content key</label>
        <input class="form-control <%= term._id %>" value="<%= term.contentKey %>">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1"><%= term.title %></label>
        <textarea class="form-control <%= term._id %>" rows="3"><%= term.content %></textarea>
        <br>
        <button class="btn btn-success" id="<%= term._id %>" onclick="updateInformation(this)">Save</button>
    </div>
<% }) %>

<script>
    function updateInformation(data) {
        var contentKey = document.getElementsByClassName(data.id)[0].value
        var content = document.getElementsByClassName(data.id)[1].value
        $.ajax({
            type: "POST",
            url: "/updateTerms",
            data: {
                id: data.id,
                contentKey: contentKey,
                content: content
            } 
        }).done(data => data == "s" ? window.location.reload() : alert('error writing changes to terms and conditions'));
        console.log(content.value)
    }
</script>