<a href="/dashboard"><- Back</a>
<h1>Staff Management</h1>
<ul class="nav nav-tabs">
    <li class="nav-item dropdown">
      <a class="nav-link active" onclick="navbar(this)"  href="#" role="button" id="dropSelection" style="color: #2C3E50;">View</a>
    </li>
    <li>
        <a class="nav-link" style="cursor: pointer" onclick="navbar(this)" id="createSelection">Add Staff</a>
    </li>
</ul>

<div id="create" style="display: none;">
  <div style="margin-top: 15px;">
    <text id="wp-create-account-response"></text>
    <div class="form-row">
      <div  style="margin-bottom: 10px" class="col-md-6">
        <label>Users Name</label>
        <input id="wp-create-account-user-name" type="text" class="form-control" placeholder="Users Name">
      </div>
      <div style="margin-bottom: 10px" class="col-md-6">
        <label>Users Email</label>
        <input type="email" id="wp-create-account-user-email" class="form-control" placeholder="Users Email">
      </div>
    </div>
    <div  class="form-group">
      <label for="inputState">Group</label>
      <select id="wp-create-account-select-group" class="form-control" required>
        <option val="staff">Staff</option>
        <option val="admin">Admin</option>
      </select>
    </div>
    <button style="margin-bottom: 10px" onclick="addAccount()" class="btn btn-success ">Add Account and Generate Password Link</button>
    <div id="wp-admin-reset-password-collapse-box" class="collapse">
      <div  class="selectBox form-group">
        <b><label for="inputState" id="wp-create-account-copy">Click link to copy</label></b>
        <input id="wp-create-account-copybox" class="form-control wp-copybox" spellcheck="false" onclick="copyURL(this, 'wp-create-account-copy')"
          value=""></input>
      </div>
    </div>
    </div>
</div>

<style>
    .editbannerbutton {
        padding-right: 2px;
        padding-left: 2px;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 0;
    }
</style>

<div id="dataTable" style="display: block;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Staff Name</th>
            <th scope="col">Email</th>
            <th scope="col">Group</th>
            <th scope="col">Manage Account</th>
          </tr>
        </thead>
        <tbody>
          <% staffAccounts.forEach(function(account) { %>
            <tr>
              <td><%= account.name %></td>
              <td><%= account.email %></td>
              <td><%= account.group %></td>
              <td><button class="btn btn-dark editbannerbutton" data-items="<%= account._id %>|<%= account.name %>|<%= account.email %>|<%= account.group %>" id="<%= account._id %>" onclick="displayAccount(this)">Manage</button</td>
            </tr>
           <% }) %>
        </tbody>
      </table>
</div>


<div class="modal fade" id="accountModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Manage Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="margin-bottom: 10px;">
          <text id="wp-admin-noreload-result" style="display: none;"></text>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <input class="form-control" id="wp-admin-id-field" placeholder="Name" hidden>
            <input class="form-control" id="wp-admin-name-field" placeholder="Name" required>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Email</label>
            <input type="email" class="form-control" id="wp-admin-email-field" placeholder="Email" required>
          </div>
        </div>
        <div class="selectBox form-group">
          <label for="inputState">Group</label>
          <select id="wp-admin-group-field" class="form-control" required>
            <option val="staff">Staff</option>
            <option val="admin">Admin</option>
          </select>
        </div>

        <hr>


        <div id="wp-admin-reset" class="collapse show">
        <div id="wp-admin-reset-password" class="collapse" style="display:inline-block; overflow: hidden;">
          <text style="color: #18BC9C; cursor: pointer" onclick="askResetPassword()">Reset Password</text>

          <div class="row wp-admin-reset-password-confirm-div collapse" id="wp-admin-reset-password-confirm-picker" >

            <div class="col wp-admin-reset-password-confirm-options" onclick="confirmResetPassword()" style="color: #18BC9C; cursor: pointer">Yes</div>
            <div class="col wp-admin-reset-password-confirm-options" onclick="noResetPassword()"
              style="color: #E74C3C; text-align: right; cursor: pointer">No</div>
          </div>

        </div>

      </div>



      <div id="wp-admin-reset-password-collapse-box" class="collapse">
        <div  class="selectBox form-group">
          <b><label for="inputState" id="wp-admin-check-copy">Click link to copy</label></b>
          <input id="wp-admin-reset-password-copybox" class="form-control wp-copybox" spellcheck="false" onclick="copyURL(this, 'wp-admin-check-copy')"
            value=""></input>
        </div>
      </div>

      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-danger" onclick="revokeAccess()" data-dismiss="modal">Revoke Access</button>
        <div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="save-changes" onclick="saveAccount()" class="btn btn-success">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

      function navbar(option) {
        
        var dropdown = document.getElementById("dropSelection")
        var other = document.getElementById("createSelection")
        var creationPage = document.getElementById('create')
        var table = document.getElementById('dataTable')
        if (option.id == "createSelection") {
            option.classList.add('active')
            option.disabled = false;
            dropdown.disabled = true;
            dropdown.classList.remove('active')
            creationPage.style.display = "block"
            table.style.display = "none"
        } else {
            dropdown.disabled = false;
            other.classList.remove('active')
            other.disabled = true;
            dropdown.classList.add('active')
            table.style.display = "block"
            creationPage.style.display = "none"
        }
    }

    function displayAccount(data) {


     //Split data items via pipe 
      var accountData = $("#" + data.id).data('items')
      var accountData = accountData.split("|")

      //Set fields
      $("#wp-admin-id-field").val(accountData[0])
      $("#wp-admin-name-field").val(accountData[1])
      $("#wp-admin-email-field").val(accountData[2])
      $("#wp-admin-group-field").val(accountData[3])
      $('#wp-admin-group-field option[val="'+ accountData[3] +'"]').prop("selected", true);

      //Show modal
      $("#accountModal").modal('show')

    }


    function saveAccount() {

      //Get modal data
      accountID = $("#wp-admin-id-field").val()
      nameField = $("#wp-admin-name-field").val()
      emailField = $("#wp-admin-email-field").val()
      groupField = $("#wp-admin-group-field").val()

      $.ajax({
        type: "POST",
        url: "/updateStaffAccount",
        data: {
            id: accountID,
            name: nameField,
            email: emailField,
            group: groupField
        } 
      }).done(data => {
        console.log(data)
        var noReload = $("#wp-admin-noreload-result")
        if (data == "S") {
            window.location.reload();
          } else if (data == "N") {
            noReload.text("Nothing to change in the database.")
            noReload.css('color', '#18BC9C')
            noReload.show()
          } else if (data == "NA"){
            noReload.text("A database error occured where no account was found.")
            noReload.css('color', '#ff9966')
            noReload.show()
          } else if (data =="FC"){
            noReload.text("Please make sure all fields are filled.")
            noReload.css('color', '#e0455e')
            noReload.show()
          } else {
            noReload.text("An internal database error occured")
            noReload.css('color', '#E74C3C')
            noReload.show()
          }
          
      });

    }

    function revokeAccess() {
      accountID = $("#wp-admin-id-field").val()
      $.ajax({
        type: "POST",
        url: "/revokeStaffAccount",
        data: {
            id: accountID
        } 
      }).done(data => {
        window.location.reload();
      })
    }

    function askResetPassword() {
      $("#wp-admin-reset-password-confirm-picker").collapse('show')

    }

    function noResetPassword() {
      $("#wp-admin-reset-password-confirm-picker").collapse('hide')
    }

    function confirmResetPassword() {
      $("#wp-admin-reset").collapse('hide').on('hidden.bs.collapse', function () {
        const accountID = $("#wp-admin-id-field").val()
        $.ajax({
        type: "POST",
        url: "/createResetPassword",
        data: {
            id: accountID
        } 
      }).done(data => {
        $("#wp-admin-reset-password-collapse-box").collapse('show')
        $("#wp-admin-reset-password-copybox").val(data)
      });
        
      })
    }

    function copyURL(link, copylocation) {
      $('#' + link.id).select()
      document.execCommand("copy")
      $('#' + copylocation).text("Copied!")

    }

    function addAccount() {
      newUserName = $("#wp-create-account-user-name").val()
      newUserEmail = $("#wp-create-account-user-email").val()
      newUserGroup = $("#wp-create-account-select-group").val()

      if (newUserName && newUserEmail && newUserGroup ) {
        $.ajax({
        type: "POST",
        url: "/createStaffAccount",
        data: {
            name: newUserName,
            email: newUserEmail,
            group: newUserGroup
        } 
      }).done(data => {
        $("#wp-admin-reset-password-collapse-box").collapse('show')
        $("#wp-create-account-copybox").val(data)
      })
      } else {
        $("#wp-create-account-response").text("Please fill all fields")
        $("#wp-create-account-response").css('color', 'red')
      }
    }





</script>

<style>

  .wp-copybox {
    border-radius: 0px !important;
    border: 0px; 
    border-bottom: 1px solid;
    transition: border-bottom 0.6s ease;
  }

  .wp-copybox.form-control:focus {
    border-bottom: 1px solid #00CED1;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  #wp-admin-reset-password {
    height: auto;
    transition: height 0.5s ease-in;
  }



</style>