<div class="content-box-span">
  <div class="content-box">

    <% if(locals.items) { %>
      <% items.forEach(function(result) { %>


        <div class="card product-content" style="border: none;">
          <div class="row">
            <div class="col-md-8">
              <div class="card-body" style="color: white; margin-bottom: 30px;">
                <div>
                  <h1 class="cardText" style="font-size: 2em;"><%= result.Title %><img style="width: 30px;" src="<%=result.Image%>"></h1>
                </div>
                  <p class="cardText">Price: <text style="color: #4BB543">£<%= result.Price %></text></p>
                  <input type="number" pattern="[0-9]*" class="itemQuantity" value=1 min="1" max=<%= result.Stock %> id=<%= result._id%>></input>
              </div>
            </div>
            <div class="col-md-4 align-self-center">
              <button class="addToCart btn wp-button wp-button-remove-hover" id=<%= result._id %> onclick="removeItemCart(this)">Remove</button>
            </div>
          </div>
        </div>
    
        
        <% if(items[items.length -1] !== result) { %>
        <hr class="horizontalSep"/>
        <% } %>
          
    
        <%})%>
    <% } %><% if (!locals.items) { %>
      <img src="https://cdn.worldplugs.net/shopping-cart-empty.svg" style="width: 13vh;">
      <hr class="horizontalSep" style="width: 50%">
      <h3 style="color: white; font-weight: 300">Your basket is empty!</h3>
      <h6 style="color: white; font-weight: 300">Please add an item to your basket from our store beforehand.</h6>
    <% } %>
    

    

  </div>
</div>


<% if (locals.items) { %>
<div class="itemCard paymentSec">
  <div style="margin: 20px;" class="mobilecaptcha">

    <table style="width:100%">
      <tr>


        <td class="wp-basket wp-total-text"><text class="align-middle" style="color: white;">Total: £<%= total %></text></td>


        <td class="wp-basket">
          <div style="float: right;" class="wp-recaptcha-area">
            <form action="/executePayment" method="POST" style="padding: 6.5px;" class="form-inline">
                <div class="form-group mb-2">
                  <div class="g-recaptcha" data-callback="checkComplete" data-sitekey="6LdqTLQZAAAAAMiaotVGuMyPr-FUhKNP6u_ARIr_" style="padding-top: 5px;"></div>
                </div>
                <div style="padding-left: 30px;" class="recaptcha-btn-spacer">
                  <input style="height: 40px;" id="captchaSubmissionPage" class="btn wp-button wp-button-gradient wp-button-checkout wp-captcha-button" type="submit" value="Checkout" disabled>
                </div>
            </form>
          </div>
        </td>


      </tr>
    </table>  
  </div>
</div>

<% } %>

<script>
    function checkComplete() {
        document.getElementById("captchaSubmissionPage").disabled = false
    }
</script>

<style>


  @media (max-width: 640px) {
    .wp-basket {
      display: block;
    }
    .wp-recaptcha-area {
      float: left !important;
    }
    .wp-total-text {
      text-align: left !important;
    }
    
  }

  @media (max-width: 552px) {
    .recaptcha-btn-spacer {
      padding-left: 0px !important;
    }
  }

  @media (max-width: 370px) {
    .g-recaptcha {
      transform:scale(0.85);-webkit-transform:scale(0.85);transform-origin:0 0;-webkit-transform-origin:0 0;
    }
    .mobilecaptcha {
      margin: 10px !important;
    }
  }
</style>