<div class="wp-confirmation-box-span container-fluid" style="overflow: auto; border-radius: 5px; margin-top: 2rem;">



  <div class="row">
    <div class="col-md-7 col-lg-9" style="margin-bottom: 5px;">



      <div style="background-color: #1e1c29; margin-bottom: 5px; border-radius: 5px; padding: 10px;">
        <h5 style="color: white; text-align: left;">Please confirm that all of your items are present before continuing.</h5>
      </div>
      

      <div style="background-color: #1e1c29; border-radius: 5px;" >
        <div class="wp-content-box" style="text-align: center; overflow: auto;">
          <table class="wp-cart-table table table-borderless" style="color: white; font-size: 0.9rem">
            <thead>
              <tr class="wp-cart-table-headers">
      
                <th scope="col" class="wp-header-text" style="text-align: left;">Product</th>
                <th scope="col" class="wp-header-text" style="text-align: center;">Quantity</th>
                <th scope="col" class="wp-header-text" style="text-align: right">Total</th>
      
              </tr>
            </thead>
            <tbody class="wp-items-table">
              <% items.forEach(function(result) { %>
              <% itemTotal = parseFloat(result[0].Price) * parseFloat(result[1]) %>
              <tr>
                <td>
                  <text style="float: left;"><img src="<%= result[0].Image %>" style="max-width: 30px; height: 20px;"
                      class="wp-cart-table-image img-fluid"></img></text>
                  <text><%= result[0].Title %></text>
                </td>
                <td style="text-align: center;"><text><%= result[1] %></text></td>
                <td style="text-align: right"><text>£<%= parseFloat(itemTotal).toFixed(2) %></text></td>
              </tr>
              <%})%>
            </tbody>
          </table>
          <div style="padding: 0px 10px 10px 10px">
            <img src="https://worldplugs.net/wp-shield.svg" style="height: 30px;">
            <text style="color: white;"><a target="_blank" href="/support">Check out our support page after checkout if you require any help with your product.</a></text>
          </div>
          
      </div>
      </div>
      
  </div>

  <div class="col-md-5 col-lg-3">
    <% noFeeTotal = total - fee %>
    <div style="background-color: #1e1c29; border-radius: 5px; padding: 20px;">
      <div>
        <text style="float: left; color: white; font-size: 0.925rem">Order SubTotal: £<%= noFeeTotal.toFixed(2) %></text>
        <br>
        <text style="float: left; color: white; font-size: 0.925rem">PayPal Fee: £<%= fee %></text>
        <br>
        <text style="float: left; color: white; font-size: 1.15rem">Grand Total: <text
            style="color: #4BB543">£<%= total %></text></text>
        <br>
        <hr style="background-color: solid rgba(249, 249, 249, 0.37);"/>
  
      </div>
      <div class="wp-button-left" style="padding-top: 10px;">
        <button class="btn wp-button wp-button-gradient wp-button-checkout" onclick="confirmPayment()"
          id="confirmation-button">Confirm</button>
      </div>
      <div class="wp-confirmation-animation">
        <div class="wp-confirmation-checkmark draw"></div>
      </div>
    
      <div class="wp-confirm-container">
        <div>
          <text class="wp-confirm-text">By clicking confirm you accept our <a href="https://worldplugs.net/terms">Terms</a>
            and <a href="https://worldplugs.net/payment-policy">Payment policy</a></text>
        </div>
      </div>
    </div>
    


    

  </div>
    

  </div>





  
  <!--Have you got a nectar card?-->
</div>


<style>
  .wp-confirm-container div {
    margin-top: 10px;
  }

  .wp-confirm-container {
    max-width: 200px;
    margin: 0 auto;
  }

  .wp-confirmation-box-span { 
    max-width: 1250px;
  }

  .wp-confirm-text {
    font-size: 10px;
    color: white;
    margin-top: 20px;
    margin-top: 4px;
  }

  .wp-button-checkout {
    margin-bottom: 8px;
  }


  .wp-items-table {
    background-color: #0d0c11;
  }



  .wp-confirmation-animation {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left-color: #d53a9d;
    animation: loader-spin 0.5s infinite linear;
    position: relative;
    display: none;
    vertical-align: top;
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }

  .load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: #d53a9d;
    transition: border 500ms ease-out;
  }

  .wp-confirmation-checkmark {
    display: none;
  }

  .wp-confirmation-checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: wp-confirmation-checkmark;
    transform: scaleX(-1) rotate(135deg);
  }

  .wp-confirmation-checkmark:after {
    opacity: 1;
    height: 1.45em;
    width: 0.875em;
    transform-origin: left top;
    border-right: 3px solid #d53a9d;
    border-top: 3px solid #d53a9d;
    content: "";
    left: 0.65em;
    top: 1.5em;
    position: absolute;
  }

  @keyframes loader-spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes wp-confirmation-checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }

    20% {
      height: 0;
      width: 0.875em;
      opacity: 1;
    }

    40% {
      height: 1.45em;
      width: 0.875em;
      opacity: 1;
    }

    100% {
      height: 1.45em;
      width: 0.875em;
      opacity: 1;
    }
  }
</style>