<div class="container">
<div class="wp-guides-parent">
    <h1 class="wp-guides-title">WorldPlugs Support & Guides</h1>
    <hr class="horizontalSep" style="width: 50%">


    <h3 style="color: white;">Popular Guides</h3>
    <div class="row justify-content-center no-gutters" style="margin: 10px; padding-left: 20px; padding-right: 20px;">

        <% results.forEach(function (guide) { %>
            <% if (guide.Pinned == "TRUE") { %>
            <div class="col-sm-12 col-md-6 col-lg-4 wp-guides-card-spacer">
                <div class="wp-guides-card" style="text-align: center;">



                        <!-- <a href="https://worldplugs.net/guides/<%= guide.GuideLink %>"> -->
                            <div class="wp-guides-card-content">
                                <h1 style="color: white; font-size: 1em;"><%= guide.Title %></h1>
                                <hr class="horizontalSep" style="width: 50%">
                                <p class="wp-guides-card-desc"><%= guide.Description %></p>
                            </div>
                                
                            <footer><a href="https://worldplugs.net/guides/<%= guide.GuideLink %>" class="btn wp-button wp-button-gradient wp-button-default-hover">View Guide</a></footer>
                            
                            <!-- </a> -->
                    


                </div>
            </div>
            <% }%>
        <% }) %>


    </div>
    <h4 style="color: white;">Our Other Guides</h4>
            <div class="container wp-guides-small-parent">
                <div class="row justify-content-center">
                    <% results.forEach(function(guide) { %> 
                        <% if (guide.Pinned == "FALSE") { %>
                            
                            <div class="col-sm-12 col-md-6 wp-guides-small-click">
                                
                                <div class="wp-guides-small">
                                    
                                        <img src="https://cdn.worldplugs.net/guide-book.svg" class="wp-guides-small-book" style="width: 30px;">
                                    <span><a href="/guides/<%= guide.GuideLink %>"><%= guide.Title %></a></span>
                                    
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                </div>
            </div>
</div>

</div>

<style>

    @media (max-width: 570px) {
        .wp-guides-parent {
            margin: 10px !important;
        }
        .wp-guides-small-parent {
            padding: 25px !important;
            padding-top: 0px !important;
        }
        .wp-guides-small {
            margin-top: 20px !important;
        }
    }

    .wp-guides-parent {
        margin: 30px;
        background-color: #1e1c29;
        max-width: 1200px;
    }
    .wp-guides-title {
        padding-top: 20px;
        color: white;
        font-size: 2rem;
        font-weight: 400;
    }


    .wp-guides-card {
        background-color: #0d0c11 !important;
        margin: 20px 10px;
        min-height: 200px;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        -webkit-box-shadow: inset 0px 0px 10px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 10px -2px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 10px -2px rgba(0,0,0,0.75);
    }

    .wp-guides-card-content {
        flex: 1 1 auto;
    }

    .wp-guides-card-spacer {
        padding: 0 5px 0 5px;
    }

    .wp-guides-small {
        background-color:#0d0c11 !important; 
        /* margin: 15 10 0 15; */
        text-align: left;
        color: white;
        border-radius: 5px;
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    .wp-guides-small-parent {
        padding: 50px;
        padding-top: 0px;
    }

    .wp-guides-small-book {
        width: 30px;
        margin: 5px;
    }

    .wp-guides-card-desc {
        text-align: left; 
        color: white;
        font-weight: 200;
    }

    .wp-guides-small a, .wp-guides-small a:visited, .wp-guides-small a:hover {
        text-decoration: none !important;
        position: relative;
        color: #fff;
    }
    .wp-guides-small a:after, .wp-guides-small a:visited:after {
        content: "";
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        background: #fff;
        transition: 0.2s;
    }
    .wp-guides-small a:hover:after, .wp-guides-small a:visited:hover:after {
        background: #fff;
        width: 100%;
    }
    .wp-guides-small a.block, .wp-guides-small a:visited.block {
        display: block;
        padding: 0.5em;
    }
    .wp-guides-small a.block:hover, .wp-guides-small a:visited.block:hover {
        background: #eee;
    }


</style>