

<script src="/addCart.js"></script>


<% results.forEach(function(result) { %>
<div class="card itemCard" href="/products?selection=<%= result.ProductKey %>">
  <div class="card-header">
    <h1 style="color: white;"><%= result.Title %></h1>
    <img src="<%= result.Image %>"></img>
    <p><%= result.Description %></p>
    <text><%= result._doc.Stock %></text>
    <text><%= result.Price %></text>
    <input type="number" pattern="[0-9]*" value=1 min="1" max=<%= result._doc.Stock %> id=<%= result._id%>></input>
    <button class="addToCart btn btn-dark" data-item=<%= result._id %>>Add me to cart</button>
  </div>
</div>
<% }); %>

