<%- include('banner.ejs', {banner: banner}) %>

<script src="/addCart.js"></script>

<div style="margin: 0 auto; width: 20rem; position: relative; z-index: 99999;" class="collapse" id="alertMsg">
  <div class="info-msg" id="fixed-alert" style="top: 0; width: 20rem;">
      <i class="fa fa-info-circle" id="alert-content"></i>
  </div>
</div>

<div class="content-box-span">
  <div class="content-box">
  <% var filtered = results.filter(function (el) { return el.productState == "enabled" })%>
    <h1 id="itemHeader"><%= results[0].ProductKey %> Accounts</h1>
    <% filtered.forEach(function(result) { %>

    <div class="card product-content" style="border: none;">
      <div class="row">
        <div class="col-md-8">
          <div class="card-body" style="color: white; margin-bottom: 30px;">
            <div>
              <h1 class="cardText" style="font-size: 2em;"><%= result.Title %><img style="width: 30px;" src="<%=result.Image%>"></h1>
            </div>
              <p class="cardText">Stock: <text style="color: #4BB543" class="itemStock"><%= result.Stock %></text></p>
              <p class="cardText">Price: <text style="color: #4BB543">£<%= result.Price %></text></p>
              <input style="display: none;" type="number" pattern="[0-9]*" class="itemQuantity" value=1 min="1" max=<%= result.Stock %> id=<%= result._id%>></input>
          </div>
        </div>
        <div class="col-md-4 align-self-center">
          <button class="addToCart btn wp-button wp-button-gradient wp-button-default-hover <%= result.Stock %>" id=<%= result._id %>>Add me to cart</button>
        </div>
      </div>
    </div>
    
      <% if(filtered[filtered.length -1] !== result) { %>
        <hr class="horizontalSep"/>
      <% } %>


    <%})%>

  </div>
</div>

<div id="watch1" style="height: 20px">
  <div><text id="valueAfter" style="color: white;"></text></div>
  <div><text id="valueBefore" style="color: white;"> </text></div>
</div>
