<%- include('banner.ejs', {banner: banner}) %>

<script src="/addCart.js"></script>


<div class="content-box-span">
  <div class="content-box">

    <h1 id="itemHeader"><%= results[0].ProductKey %> Accounts</h1>

    <% results.forEach(function(result) { %>


    <div class="card product-content" style="border: none;">
      <div class="row">
        <div class="col-md-8">
          <div class="card-body" style="color: white; margin-bottom: 30px;">
            <div style="">
              <h1 class="cardText" style="font-size: 2em;"><%= result.Title %><img style="width: 30px;" src="<%=result.Image%>"></h1>
            </div>
              <p class="cardText">Stock: <text style="color: #4BB543" class="itemStock"><%= result.Stock %></text></p>
              <p class="cardText">Price: <text style="color: #4BB543">£<%= result.Price %></text></p>
              <input type="number" pattern="[0-9]*" class="itemQuantity" value=1 min="1" max=<%= result.Stock %> id=<%= result._id%>></input>
          </div>
        </div>
        <div class="col-md-4 align-self-center">
          <button class="addToCart btn wp-button wp-button-gradient wp-button-default-hover <%= result.Stock %>" id=<%= result._id %>>Add me to cart</button>
        </div>
      </div>
    </div>

    
    <% if(results[results.length -1] !== result) { %>
    <hr class="horizontalSep"/>
    <% } %>


    <%})%>

  </div>
</div>