<%- include('banner.ejs', {banner: banner}) %>

<title>WorldPlugs | <%= title %> Accounts</title>

<meta name="description" content="Browse our selection of <%= title  %> items here!"/>

<!-- <div class="wp-redirect-overlay">


  <span class="wp-redirect-overlay-container">
      hello
  </span>




</div>

<style>
  .wp-redirect-overlay {
    z-index: 9999; position: fixed; top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;    
  }
  .wp-redirect-overlay-container {
    max-width: 500px;
    padding: 5px;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    position:relative;
    top:50%;
  }
</style> -->


<script src="/addCart.js"></script>

<div style="margin: 0 auto; width: 20rem; position: relative; z-index: 99999;" class="collapse" id="alertMsg">
  <div class="info-msg" id="fixed-alert" style="top: 0; width: 20rem;">
      <i class="fa fa-info-circle" id="alert-content"></i>
  </div>
</div>




  <div class="wp-items-container container-fluid">
    



    <div class="row">

     

      <div class="col-md-7 col-lg-9" style="margin-bottom: 5px;">

        <div>
          <div class="wp-background" style="margin-bottom: 5px; padding: 10px;">
            <h3 style="color: white;">Welcome to our <%= title %> Store</h3>
          </div>
        </div>

        <div class="wp-background">
          <div class="row justify-content-center" style="padding-bottom: 15px;">

            <% var filtered = results.filter(function (el) { return el.productState == "enabled" })%>

            <% filtered.forEach(function(result) { %>

            <div class="col-lg-6" >

            <div class="wp-items-item <% if (result.Stock < 1) { %> <%= "wp-items-item-disabled" %> <% } %> ">
                <h6 class="text-left wp-items-item-title"><img style="width: 1.5em;  margin-right: 0.5em;" src="<%=result.Image%>"><%= result.Title %></h6>
                <div style="display: flex; align-items: center">
                  <div>
                    <text class="text-left" style="font-size: 0.9175rem; display:block; color: white;">Price: <text style="color: #4BB543">£<%= parseFloat(result.Price).toFixed(2) %></text></text>
                    <text class="text-left" style="font-size: 0.9075rem; display:block; color: white;">Stock: <text style="<% if (result.Stock > 0) { %> <%= "color: #4BB543 " %> <% } else { %> <%= "color: #EA6464 " %> <% } %>"><%= result.Stock %></text></text>
                  </div>
                  <div style="margin-left: auto; position: relative" <% if (result.Stock > 0) { %> id=<%= result._id%> <% } %>>
                    <input type="number" pattern="[0-9]*" style="margin-right:5px; position: absolute; bottom: 0; right: 100%;" class="wp-item-quantity" value="1" min="1" <% if (result.Stock > 0) { %> max=<%= result.Stock %> <% } %> ></input>
                    <button class="btn <% if (result.Stock > 0) { %> wp-button-add-to-cart <% } %> wp-button wp-button-gradient wp-button-default-hover">Add To Basket</button>
                  </div>
                  
                </div>
                
              </div>
              
            </div>

          <% }) %>


          </div>
        </div>

      </div>
      <div class="col-md-5 col-lg-3">
        <div class="wp-background wp-items-support">

          <div style="display: flex; align-items: center">
            <h5 style="color: white; text-align: left; margin-bottom: 0;">Warranty and Support</h5>
            <img style="max-height: 20px; margin-left: auto;" src="/wp-shield.svg">
          </div>

          <hr style="background-color: rgb(255 255 255 / 36%); margin: 0.25rem auto; width: 80%">

          <div style="text-align: left; color: white">
            <p>The warranty for the products you buy are explicitly listed on the <a href="/payment-policy">Payment Policy</a>, when you purchase one or more of these items you are agreeing to this.</p>
            <p>If you require support on one of the products you have purchased, please head to our <a href="/support">support panel</a> where we have guides on all of our products</p>
          </div>

          


            
          
            
          
        </div>
      </div>
      


    </div>
  </div>

<div id="wp-cart-alerts">

</div>


<style>

  .wp-cart-alert {
    position: fixed;
    bottom: -10rem;
    right: 5%; 
  }

  .wp-cart-alert-information {
    padding: 15px; 
    box-shadow: 4px 4px 17px -5px rgba(0, 0, 0, 0.75); 
    background-color: white;
    border-radius: 5px;
    color: black;
  }

  .wp-cart-alert-error {
    background-color: #e45158 !important;
    color: white !important;
  }

  @media screen and (max-width: 576px) {
    .wp-cart-alert {
      right: auto !important;
      padding: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 90%
    }
  }

  .wp-cart-alert-move {
    -webkit-animation: move ease-in-out 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: move ease-in-out 2s;
    -moz-animation-fill-mode: forwards;
    animation: move 2s;
    animation-timing-function: cubic-bezier(.14, .05, .25, .90);
  }



  @keyframes move {
    0% {bottom: -5rem;}
    50% {bottom: 5rem ;}
    60% {bottom: 5rem ;}
    100% {bottom: -10rem ;}
  }

  @-webkit-keyframes move {
    0% {bottom: -5rem;}
    50% {bottom: 5rem ;}
    60% {bottom: 5rem ;}
    100% {bottom: -10rem ;}
  }

  @-moz-keyframes move {
    0% {bottom: -5rem;}
    50% {bottom: 5rem ;}
    60% {bottom: 5rem ;}
    100% {bottom: -10rem ;}
  }



  .wp-items-container {
    max-width: 1500px;
    margin-top: 2rem
  }

  .wp-background {
    background-color: #1E1C29;
    border-radius: 5px;
  }

  .wp-items-item {
    background-color: #0d0c11;
    margin: 15px 15px 0px 15px;
    border-radius: 3px;
    min-height: 50px;
    padding: 8px;
    position: relative;
  }
  .wp-items-item-title {
    color: white;
  }

  .wp-items-item-disabled:after {
    content: "Out of stock!";
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(27, 27, 27, 0.63);
    color: white;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
  }

  .wp-items-support {
    padding: 10px;
  }

</style>

<script>
  window.onload(function() {
    $('input[type=number]').on('mouseup keyup', function () {
        $(this).val(Math.min(10, Math.max(2, $(this).val())));
      });
  })
</script>