<%- include('banner.ejs', {banner: banner}) %>
<div class="content-box-span">
  <div class="content-box">
    <% results.forEach(function(result) { %>


    <div class="card product-content" style="border: none;">
      <div class="row">
        <div class="col-md-8">
          <div class="card-body" style="color: white;">
            <img style="width: 250px; height: 250px; padding: 10px;" src="<%=result.Image%>" class="img-fluid product-content-image">
              <h1 class="cardText" style="font-size: 1em;"><%= result.Title %></h1>
              <p class="cardText"><%= result.Description %></p>
          </div>
        </div>
        <div class="col-md-4 align-self-center">

          <button class="btn wp-button wp-button-gradient wp-button-view-product wp-button-default-hover" onclick="window.location.href='/products/<%= result.CategoryKey %>/items/<%=result.ProductKey%>'">View products</button>
        </div>
      </div>
    </div>
    
    <% if(results[results.length -1] !== result) { %>
      <hr class="horizontalSep"/>
    <% } %>

    <%})%>
  </div>
</div>

