

<div class="wp-content-box-span wp-confirmation-box-span" style="border-radius: 5px;">
    <div class="wp-content-box" style="text-align: center;">
        <img class="confirmed-purchase-image" src="https://cdn.worldplugs.net/success.svg" width="20%">
      <p class="wp-confirmed-purchase-header">Thank You For Your Order!</p>

    <hr style="background-color: #ffffff5c;">

    <div class="confirmed-purchase-contents">
        <p class="confirmed-purchase-text confirmed-purchase-contents-header" style="text-align: left;">What you've purchased:</p>
        <table cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 5px;" width="100%">

            <!-- ITEM -->


            <% purchaseContents.forEach(function(item) { %>
                <tr>
                    <td width="75%" align="left" style="font-family: 'Raleway', sans-serif; padding-bottom: 5px;" class="confirmed-purchase-text"><%= item[0].Title %> <b>x<%= item[1] %> </b></td>
                    <td width="25%" align="left" style="font-family: 'Raleway', sans-serif; text-align: right; padding-bottom: 5px;" class="confirmed-purchase-text"> £<%= item[0].Price %></td> 
                </tr>
            <% }) %>
            
                

        </table>
    
    </div>

    


    <hr style="background-color: #ffffff5c;">
    

      <div class="wp-access-purchase">
        <p class="wp-access-purchase-text access-purchase-info">To access the credentials for the accounts you've bought, check your email inbox!</p>
        <p class="wp-access-purchase-text wp-access-purchase-email">(<%= addressContents[0] %>)</p>
          <img class="wp-access-purchase-symbol" src="https://cdn.worldplugs.net/mail.svg" width="10%">
          <img class="wp-access-purchase-symbol" src="https://cdn.worldplugs.net/next.svg" width="10%">
          <img class="wp-access-purchase-symbol" src="https://cdn.worldplugs.net/card.svg" width="10%">

          <p class="wp-access-purchase-text wp-access-purchase-confirmation">Order Confirmation # <b><%= addressContents[1].slice(1, -1) %></b></p>
      </div>


      <hr style="background-color: #ffffff5c;">
  
    </div>



</div>


<style>

@media(min-width:992px) {
    .wp-confirmation-box-span {
        max-width: 30% !important
    }
}

.wp-confirmed-purchase-header {
    color: white !important;
    font-size: 1.5rem;
}

.confirmed-purchase-image {
    margin: 30px 0px 30px;
}

.wp-access-purchase-symbol {
    margin: 0px 5px 20px 5px
}

.wp-access-purchase-text {
    color: white !important;
}

.wp-access-purchase-email {
    font-size: 1rem;
}

.confirmed-purchase-text {
    font-size: 0.85rem;
    color: white;
}

.wp-access-purchase-confirmation {
    font-size: 0.75rem;
}
    
</style>